.container {
  width: 700px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-spacing: 5px;
  margin-bottom: 20px;
}

thead {
  background: #6F7084;
  color: white;

  th {
    text-align: start;
    font-weight: 500;
  }

  .suggest {
    width: 80%;
  }
}


td,
th {
  padding: 15px 20px;
}

form {
  display: flex;
  justify-content: space-around;
  border: 5px;
}

input {
  width: 78.5%;
  padding: 15px;
  font-size: 24px;
  border: #707070 1px solid;
}

button {
  width: 20%;
  font-size: 24px;
  background-color:#5C7EBD;
  color: white;
  cursor: pointer;
  user-select: none;
  // border: none;

  &:active {
    background-color: #5974A9;
  }

  &:hover {
    background-color:#7796CE;
  }
}

.btn {
  position: relative;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: #CBD9F3;
  }

  &:active {
    background-color: #A8B7D6;
  }

  p {
    margin: 0;
  }

  #svg {
    position: absolute;
    right: 35px;
    top: 17px;
    height: 22px;
    opacity: 0.4;
  }
}

.article {
  position: relative;
  .author {
    position: absolute;
    margin: 0;
    right: 10px;
    bottom: 5px;
    font-size: 11px;
  }
}





